<h1>Seja Bem vindo!!!</h1>
<p>O idioma usado nessa aplicacão é: <strong><%=locale(I18n.locale)%> </strong></p>
<p style="font-weight: bold;"> Data: <%= Date.today %> </p>

<%= render "menu" %>

<p>Você está no ambinete de  <strong><%=ambiente_rails%></strong></p>


<p>Eu sou uma variável de instância/sessão <strong><%=@meu_nome%></strong></p>
<p>O nome do curso é: <strong><%=@nome_curso%></strong></p>