<p>
    <%= link_to "Idioma Português", root_path(locale: 'pt-BR') %>
</p>
<p>
    <%= link_to "English", root_path(locale: 'en') %>
</p>

<h1><%=t('greet')%></h1>
<p> <%=t("language")%> <strong> <%= t('actual_locale') %> </strong></p>

<p> <%= t('date1') %> : <%= l(Date.today)%> </p>

<p><%= t('hello') %></p>

<%= render "menu" %>

<p>Você está no ambinete de  <strong><%=ambiente_rails%></strong></p>
