<h1>Seja Bem vindo!!!</h1>

<p style="font-weight: bold;"> Data: <%= data_br(Date.today)%> </p>

<%= render "menu" %>

<p>Você está no ambinete de  <strong><%=ambiente_rails%></strong></p>


<p>Eu sou uma variável de instância/sessão <strong><%=@meu_nome%></strong></p>
<p>O nome do curso é: <strong><%=@nome_curso%></strong></p>