<div id="<%= dom_id mining_type %>" class="mining_type">
  <p>
    <strong><%=MiningType.human_attribute_name(:description)%>:</strong>
    <%= mining_type.description %>
  </p>

  <p>
    <strong><%=MiningType.human_attribute_name(:acronym)%>:</strong>
    <%= mining_type.acronym %>
  </p>

  <p>
    <%= link_to "Show this mining type", mining_type %>
  </p>

</div>
