<%
=begin%>
 <!DOCTYPE html>
<html>
  <head>
    <title>Teste de aplicação Ruby On Rails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <h1><%=t('header')%></h1>
  <p>
    <%= link_to "Idioma Português", '/?locale=pt-BR' %>
</p>
<p>
    <%= link_to "English", '/?locale=en' %>
</p>
    <%= yield %>
  </body>
  <footer>
    <h1><%=t('footer')%></h1>
    <h1>Apagar</h1>
  </footer>
</html> 
<%
=end%>