<%= form_with(model: coin, local: true) do |form| %>
  <% if coin.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(coin.errors.count, "error") %> prohibited this coin from being saved:</h2>

      <ul>
        <% coin.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :description, style: "display: block; margin-top: 10px; margin-bottom: 10px" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :acronym, style: "display: block; margin-top: 10px; margin-bottom: 10px" %>
    <%= form.text_field :acronym %>
  </div>

  <div>
    <%= form.label :url_image, style: "display: block; margin-top: 10px; margin-bottom: 10px" %>
    <%= form.text_field :url_image %>
    <%#=image_tag coin.url_image, width: 25, height: 25%>

    <% if @coin.url_image != nil
    image_tag coin.url_image, size: "25x25" %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :mining_type_id, style: "display: block; margin-top: 10px; margin-bottom: 10px" %>
    <%= form.select("mining_type_id", @mining_type_options, {include_blank: "Selecione um tipo"}) %>
  </div>

  <div>
    <%= form.submit style: "margin-top: 10px; margin-bottom: 10px"%>
  </div>

<% end %>
